<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Age</th>
    </tr>
  </thead>
  <tbody>
       {{#each users}}
    <tr>
      <th scope="row">{{name}}</th>
      <td>{{age}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>